*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.comments{
	list-style: none;
	padding: 10px;
}
.comments li{
	margin: 15px 0;
}
.comments ul{
	padding-left: 25px;
}
.block{
	padding-top: 20px;
	color:yellow;
}
.block p{
	padding-top:15px;
	color:blue;
}
.btn{
	text-decoration:none;
	padding:5px 10px;
	background-color: yellow; 
	margin-top: 10px;
	margin-left:10px;
	color:white;
	display: inline-block;
}
p a{
	color:red;
}